<div class = "container">
  <div class = "ui-g">
    <div class = "ui-g-12">
        <h1> Categorias </h1>
    </div>

    <div class = "ui-g-12 ui-fluid">
        <label> Descrição </label>
        <input pInputText type = "text"/>
    </div>

    <div class = "ui-g-12">
      <button pButton type="submit" label = "Pesquisar"></button>
    </div>

    <div class = "ui-g">
      <div class = "ui-g-12">
        <p-table [value] = "categorias" [responsive] = "true" [paginator]="true" [rows]="3">
          <ng-template pTemplate = "header">
            <tr> <!--linha-->
              <th class = "col-id-header">Id</th> <!--header-->
              <th>Descrição</th>
              <th class = "col-acoes"></th>
            </tr>
          </ng-template>

          <ng-template pTemplate = "body" let-categoria>
            <tr>
              <td class = "col-id">{{categoria.id}}</td>
              <td class = "col-id">{{categoria.nome}}</td>
              <td class = "col-acoes">
                <button pButton icon="pi pi-pencil" pTooltip="Editar"  tooltipPosition="top" showDelay="1000"  class="ui-button-info"></button>
                        <button pButton icon="pi pi-trash"  pTooltip="Excluir" tooltipPosition="top" showDelay="1000"  (click)="excluir(cat)" class="ui-button-danger"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class = "ui-g-12">
      <a pButton label = "Nova Categoria"></a>
    </div>

  </div>
</div>
